html {
    margin: 0;
}

body {
    margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:-2;
    top:0;
    left:0;
    object-fit: cover;
    
}

.headeBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.leftheaderContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}

.Logoleftlink {
    margin: 0.5em 0em 0.7em 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 8.8em;
    text-decoration: none;
}

.Logo-image-con {
    display: flex;
    align-items: center;
    margin:0 8px 0 0;
}

.Logo-image {
    width: 50px;
}

.text-logo {
    color: white;
    font-family: 'Manga Temple', sans-serif;
    font-size: 0.9em;
    width: 10em;
}

.rightheaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-options {
    position: relative;
    color: white;
    display: flex;
    width:25em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}

.About, .News, .Top-Stories, .Shop, .Contact {
    font-size: 0.9em;
    font-family: 'Manga Temple', sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0px;
}

.layer1 {
    position: relative;
}

.container-1 {
    width:50%;
    height: 50%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.left-side {
    color: white;
    margin: 1em 1em 2em 2em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.greetings {
    font-size: 2em;
    text-align: center;
    font-family: "Manga Temple" , sans-serif;
}

.description {
    margin-top: 0.5em;
    font-size: 1.1.em;
    font-family: "Manga Temple", sans-serif;
    text-align: justify;
    line-height: 1.2em;
}

.donate-container {
    margin-top: 2em;
}

.donatee {
    color:white;
    border: 0.2em solid white;
    border-radius: 2em;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    font-size:1em;
    text-decoration: none;
    font-family: "Manga Temple";
    background-image: linear-gradient(red, rgba(107, 39, 0, 0.5) );
    transition: 0.3s;

}

.donatee:hover {
    transform: translateY(-3%);
}

.right-side {
    width:40vw;
    margin: 3em 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.luffy {
    width: 20vw;
}

.section-bg{
    background-image: gray;
    margin-top: 8em;
}

.layer2content {
    padding-top: 1em;
}

.stories-head {
    font-size: 2em;
    text-align: center;
    color: white;
    margin: 0.5em 1em 1.5em 1em;
    font-family: "Manga Temple", sans-serif;
}

.stories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 2.5em;
    flex-wrap: wrap;
    
}

.first-story, .second-story, .third-story, .fourth-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
    
}

.firstimage, .secondimage {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}



.first-text {
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin: 1em 0 1em 0;
    font-family: "lunatic";
    z-index: 2;

}